@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');



*{
    padding: 0;
    margin: 0;

    /* Box-sizing border-box includes padding and a border when setting a width or height */
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

h1{
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;

}

a{
    text-decoration: none;
    color: #4b5163;
}

#main{
    position: relative;
    /* vh stands for viewport height determines the height of the element by setting it to a percentage of the viewport Note VW is used for width */
    height: 100vh;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Media/cover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

video{
    position: absolute;
    top: 0;
    left: 50px;
    width: 100%;
    height: 100%;
    /* The object-fit property determines how a video or image (AKA img element) is resized to fit inside its container (AKA Parent element). Setting value to "cover" causes the video to retain its aspect ratio and fill it's given dimension */
    object-fit: cover;

    /* Blur the video */
    /* filter:blur(ps);  */
    /* transform: scale(1.15); */
    
}

#cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
}
#content{
    color: goldenrod;
    z-index: 2;
    text-align: center;
}

/* !Lunch Break */


#click{
    display: inline-block;
    margin-top: 25px;
    border: 2px solid white;
    padding: 10px 30px;
    background-color:cornflowerblue;
    /* Inline-block allows you to set top and bottom margin as well as width and height. This is not the case with inline */
    /* A elements will NOT inherit text color like other text elements will. So you Must apply it directly */
    color: darkblue;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0.8;
}

#click:hover {
    /* Changes the size of an element */
    
    transform: scale(0.85);
    
}

#about {
    padding: 50px;
    text-align: center;
}

/* Descendant selector */
#about p {
    font-size: 20px;
    max-width: 500px;
    margin: auto;
}
#about h2 {
    margin: 40px 0;
    color: cornflowerblue;
}

i {
    font-size: 48px;
    margin: 0 10px;
}

